/*----Header-------*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    padding: 15px;
  }

  .navbar img {
    width: 90px;
    height: 90px;
  }

  .navbar ul {
    display: flex;
    list-style-type: none;
    padding: 0;
  }

  .navbar ul li a {
    text-decoration: underline;
    color: #333;
    padding: 8px 16px;
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
  }

  .navbar ul li a:hover {
    background-color: #ddd;
    color: black;
  }

  .logo-container {
    display: flex;
    align-items: center;
  }
  .workshop{
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: oblique;
  background-color: bisque;
  
  }
/*------About-------*/
.about {
    padding: 20px;
    background-color: #f8f8f8;
    text-align: justify;
    line-height: 1.6;
    border-bottom: solid 4px #FAC805;
    border-top: solid 4px #FAC805;
    max-width: 100%; 
  }
  
  .about h2 {
    background-color: #333;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 24px;
  }
  
  .about p {
    margin-bottom: 15px;
  }
.join{
    
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh;
        margin: 0;
        background-color: #f0eff3;
    }

  .join h3{
    text-align: center;
        font-size: 2.5rem;
      color: #141313;
    }
    .join p {
        font-size: 1.5rem;
        color: #141313;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: italic;
    }
    .join button{
        
            display: block;
      width: 100%;
      max-width: 300px;
      height: 45px;
      margin: 20px auto;
      font-size: 1.8rem;
      background-color:#de340a;
      border: black;
      border-radius: 5px;
      color: #101010;
      cursor: pointer;
      font-family: 'Times New Roman', Times, serif,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }

  /*--------gallery section------------*/
  .header{
    background-color: #333;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 24px;
    border-bottom: solid 4px #FAC805;
  }
.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 8%;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    
}
.gallery img{
    width: 100%;
}

/*----------------faqs----------------*/

  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.wrapper{
    max-width: 75%;
    margin:auto;
}
.wrapper > p,
.wrapper h1{
margin: 1.5rem;
text-align: center;
background-color: #333;
padding: 10px;
text-align: center;
color: white;
font-size: 24px;
}
.wrapper h1{
    letter-spacing: 3px;
}
.accordian{
    background-color: #efefef;
    color: rgba(0,0,0,0.8);
    cursor: pointer;
    font-size: 1.2rem;
    width: 100%;
    padding: 2rem 2.5rem;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
align-items: center;
font-weight: bold;
}
.accordian i{
    font-size: 1.6rem;
}
.active,.accordian:hover{
    background-color: #f1f7f5;

}
.panel{
    padding: 0.2rem 2.5rem 2rem;
    background-color: white;
    overflow: hidden;
    background-color: #f1f7f5;
    display: none;
}
.panel p{
    color: rgba(0,0,0,0.7);
    font-size: 1.2rem;
    line-height: 1.4;
}
.faq{
    border: 1px solid rgbs(0,0,0,0.2);
    margin: 10px 0;
}
.faq.active{
    border: none;
}



/*----------------footer----------------*/
/* Footer Styles */

.footer {
    margin-top: 30px;
    padding: 30px 5%;
    background: #22252c;
    color: #efefef;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: solid 4px #FAC805;
    border-radius: 9px;
    box-sizing: border-box;
}

.col-1,
.col-2,
.col-3 {
    flex: 1;
    text-align: center;
    margin-bottom: 20px;
}

.col-1 a {
    text-decoration: none;
    color: #efefef;
    display: block;
    margin-bottom: 10px;
}

form input {
    width: 100%;
    max-width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
}

form button {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    box-sizing: border-box;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-icons i {
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background: #262626;
    font-weight: 300;
}

.copyright i {
    color: #ff004f;
}

/* Add a media query for smaller screens */
@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .col-1,
    .col-2,
    .col-3 {
        width: 100%;
        max-width: 100%;
    }

    form input,
    form button {
        max-width: 100%;
    }

    .social-icons {
        margin-top: 10px;
    }
}
